@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  font-size: 12px;
}

strong {
  font-weight: 600;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  margin-bottom: 3rem;
  background-color: #dddddd;
}

a {
  text-decoration: none;
  color: inherit;
}

div#resume {
  box-sizing: border-box;
  width: 8.5in;
  height: 11in;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  padding: 1.2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section#heading {
  width: 100%;
}

div#name {
  font-size: 3.5rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div#contact {
  text-align: center;
}

div#web_links {
  color: #575757;
  text-align: center;
  font-size: 0.95rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-around;
}

#web_links > div > strong {
  font-weight: 600;
}

div.body_section {
  margin-bottom: 1rem;
}

h2.section_header {
  font-size: 1.3rem;
  font-weight: 500;
  color: #3d77c1;
  margin: 0;
}

div.section_entry {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: .3rem;
  margin-bottom: .3rem;
}

h3.project_title {
  text-align: center;
}

div.section_entry > span > em {
  font-weight: 400;
}

div.details {
  padding-left: 20px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: #424242;
  line-height: 1.1rem;
}

ul {
  list-style-type: '- ';
  padding-left: 20px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: 0;
}

div#projects {
  display: flex;
  flex-flow: column wrap;
}

div.project {
  flex: 1 1 50%;
}

div.projects_row {
  flex-flow: row nowrap;
  display: flex;
}

hr {
  width: 100%
}

@media only screen and (max-width: 600px) {
  body {
    height: calc(2 * 100vh);
  }
}

@media print {
  body {
    background-color: white;
    height: 100%;
  }

  div#resume {
    box-shadow: 0 0;
  }
}
